__pycache__/
*.py[cod]
*$py.class
*.so

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib60/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

.tox/
.nox/
.coverage
.coverage.*
coverage.xml
htmlcov/
.cache
.pytest_cache/
.mypy_cache/
.ruff_cache/

.env
.venv
venv/
ENV/

db.sqlite3
*.log

.idea/
.vscode/
.DS_Store
